$black: #000000;
$darkgray: #333;
$gray: #cccccc;
$yellow: #ffffba;
$green: #baffc9;
$blue: #bae1ff;
$red: #ffb3ba;
$pink: #fdd9ee;
$purple: #ba54d9;
$lightpink: #ffeff3;
$darkpink: #9b557d;
$whitepink: #faf6f7;
$lightgreen: #d4f7dc;

$bgc: $lightpink;
$btn-color: $pink;

$border: 1px solid $darkgray;
$shadow: 2px 2px 5px 2px $gray;

@mixin btn-style {
	background-color: $btn-color;
	border: $border;
	border-radius: 50px;
	font-size: 16px;
	box-shadow: $shadow;
	transition: all 0.3s ease-in-out;
	color: $black;

	&.pressed {
		box-shadow: none;
	}
}

@mixin header-btn-style {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: $btn-color;
	border: $border;
	border-radius: 50%;
	box-shadow: $shadow;
	transition: all 0.3s ease-in-out;

	&.pressed {
		box-shadow: none;
	}
}

@mixin key-hover($color) {
	@media (min-width: 768px) {
		&:not(:disabled):hover {
			cursor: pointer;
			background-color: darken($color, 10%);
		}
	}
}

@mixin dialog {
	position: fixed;
	top: 0;
	left: 0;
	background-color: $whitepink;
	padding: 20px;
	margin: 20px auto;
	border: $border;
	border-radius: 40px;
	width: 90%;
	max-width: 400px;
	z-index: 2;
}

@keyframes drop {
	0% {
		transform: scale(1);
	}
	50% {
		transform: scale(0.9);
	}
	100% {
		transform: scale(1);
	}
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	touch-action: manipulation;

	&:focus-visible {
		outline: none;
	}
}

body {
	background-color: $bgc;
	display: flex;
	flex-direction: column;
	align-items: center;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
		'Helvetica Neue', sans-serif;

	button {
		@include btn-style;
	}

	.modal {
		@include dialog;
		margin: 10px auto;
		padding: 15px;
		align-self: center;
		text-align: center;

		&::backdrop {
			background: rgba(0, 0, 0, 0.8);
		}

		&.error-dialog {
			background-color: $red;
		}

		> * {
			margin: 20px 10px;
		}

		.password {
			font-size: 30px;
			font-weight: 700;
			color: $darkpink;
			padding: 10px 0 20px;
		}

		.button-wrapper {
			display: flex;
			justify-content: space-around;
			gap: 10px;

			button {
				padding: 10px 20px;
			}

			.close-btn {
				background-color: $red;
				@include key-hover($red);
			}

			.play-again-btn {
				background-color: $green;
				@include key-hover($green);
			}
		}
	}

	.dialog {
		@include dialog;
		display: flex;
		flex-direction: column;
		align-items: center;
		transition: transform 0.3s ease-in-out;
		transform: translateX(-100vw);
		text-align: center;

		&.show {
			transform: translateX(0);
		}

		&.info-dialog {
			img {
				height: 12px;
			}

			.logo-text {
				color: $purple;
				font-weight: 700;
			}
		}

		&.instructions-dialog {
			font-size: 14px;
		}

		> * {
			margin: 10px;
		}

		a {
			color: $darkpink;
			text-decoration: none;
			font-weight: 700;
		}

		button {
			padding: 10px 20px;
			@include key-hover($lightgreen);
		}

		.instruction-point {
			display: flex;
			align-items: center;
			justify-content: flex-start;
			width: 100%;
			gap: 30px;
			text-align: left;

			img {
				height: 40px;
			}
		}
	}

	header {
		display: flex;
		justify-content: space-around;
		align-items: center;
		position: fixed;
		width: 100vw;
		max-width: 1024px;
		height: 10dvh;
		max-height: 80px;
		padding: 10px;
		z-index: 1;

		&:after {
			content: '';
			position: absolute;
			bottom: -49px;
			width: 100vw;
			height: 50px;
			z-index: 1;
			background: linear-gradient(to bottom, $bgc, transparent);
			pointer-events: none; // This allows clicks to pass through to the elements below
		}

		.logo {
			display: flex;
			align-items: center;
			gap: 5px;

			h1 {
				margin: 0;
				color: $purple;
			}
		}

		button {
			@include header-btn-style;
			@include key-hover($lightgreen);
			width: 48px;
			height: 48px;

			img {
				height: 20px;
			}
		}
	}

	.output {
		position: fixed;
		top: 10dvh;
		min-height: 45dvh;
		max-height: 45dvh; //just in case js doesn't work
		width: 100vw;
		max-width: 1024px;
		padding: 20px 10px;
		overflow-y: auto;
		overflow-x: hidden;

		.guess-word {
			margin-bottom: 10px;
			display: flex;
			justify-content: center;
			transition: all 1s ease-in-out;

			.letter {
				$letter-size: 6vw;
				$letter-margin: 0.25vw;
				font-size: 3.8vw;
				line-height: 1.35;
				font-weight: 500;
				border: $border;
				border-radius: 50%;
				margin: $letter-margin;
				width: $letter-size;
				max-width: 50px;
				height: $letter-size;
				max-height: 50px;
				text-align: center;
				background-color: $gray;
				animation: drop 0.2s ease;

				&.used {
					background-color: $yellow;
				}

				&.first {
					border-radius: 0 50% 50% 0;
				}

				&.last {
					border-radius: 50% 0 0 50%;
				}

				&.correct-order {
					background-color: $green;
				}

				&.middle-in-sequence {
					margin: $letter-margin 0;
					border-radius: 0;
				}

				&.first-in-sequence {
					margin: $letter-margin 0 $letter-margin $letter-margin;
					border-top-right-radius: 0;
					border-bottom-right-radius: 0;
				}

				&.last-in-sequence {
					margin: $letter-margin $letter-margin $letter-margin 0;
					border-top-left-radius: 0;
					border-bottom-left-radius: 0;
				}
			}
		}
	}

	.input-keyboard-wrapper {
		position: fixed;
		width: 100vw;
		max-height: 45dvh;
		bottom: 0;
		padding: 2px 0 20px 0;
		background-color: $bgc;
		z-index: 1;

		&:before {
			content: '';
			position: absolute;
			top: -49px;
			width: 100vw;
			height: 50px;
			z-index: 1;
			background: linear-gradient(to top, $bgc, transparent);
		}

		.input-wrapper {
			display: flex;
			justify-content: space-around;
			width: 100%;
			max-width: 768px;
			margin: 0 auto 10px;

			.input {
				@include btn-style;
				box-shadow: none;
				padding: 10px 20px;
				outline: none;
				transition: none;
				width: 65%;
				text-align: center;
				background-color: $whitepink;

				&:focus-visible {
					border: 1px solid $darkpink;
					&::placeholder {
						color: $darkpink;
					}
				}
			}

			.enter-btn {
				width: 30%;
				@include key-hover($lightgreen);
				display: flex;
				justify-content: center;
				align-items: center;

				img {
					height: 25px;
				}
			}
		}

		.keyboard {
			display: flex;
			flex-direction: column;
			align-items: center;

			.keyboard-latin,
			.keyboard-polish {
				display: flex;
				justify-content: center;
				flex-wrap: wrap;

				&.qwerty {
					display: grid;
					grid-template-areas:
						'q q w w e e r r t t y y u u i i o o p p'
						'. a a s s d d f f g g h h j j k k l l .'
						'. . z z x x c c v v b b n n m m § § § §';
					grid-template-columns: repeat(20, 1fr);
					grid-template-rows: repeat(3, 1fr);

					#q-btn {
						grid-area: q;
					}
					#w-btn {
						grid-area: w;
					}
					#e-btn {
						grid-area: e;
					}
					#r-btn {
						grid-area: r;
					}
					#t-btn {
						grid-area: t;
					}
					#y-btn {
						grid-area: y;
					}
					#u-btn {
						grid-area: u;
					}
					#i-btn {
						grid-area: i;
					}
					#o-btn {
						grid-area: o;
					}
					#p-btn {
						grid-area: p;
					}
					#a-btn {
						grid-area: a;
					}
					#s-btn {
						grid-area: s;
					}
					#d-btn {
						grid-area: d;
					}
					#f-btn {
						grid-area: f;
					}
					#g-btn {
						grid-area: g;
					}
					#h-btn {
						grid-area: h;
					}
					#j-btn {
						grid-area: j;
					}
					#k-btn {
						grid-area: k;
					}
					#l-btn {
						grid-area: l;
					}
					#z-btn {
						grid-area: z;
					}
					#x-btn {
						grid-area: x;
					}
					#c-btn {
						grid-area: c;
					}
					#v-btn {
						grid-area: v;
					}
					#b-btn {
						grid-area: b;
					}
					#n-btn {
						grid-area: n;
					}
					#m-btn {
						grid-area: m;
					}
					#backspace-btn {
						grid-area: §;
					}
				}

				.key,
				.backspace-btn {
					width: 8vw;
					max-width: 60px;
					height: 8vw;
					max-height: 60px;
					margin: 1vw;
					border-radius: 5px;
					font-size: 20px;
					background-color: $pink;
					@include key-hover($pink);
				}

				.backspace-btn {
					display: flex;
					justify-content: center;
					align-items: center;
					width: 18vw;
					max-width: 120px;

					img {
						height: 35px;
					}
				}
			}

			.key {
				&.letter {
					background-color: $gray;
					@include key-hover($gray);
				}

				&.used,
				&.correct-order {
					background-color: $green;
					@include key-hover($green);
				}
			}
		}
	}
}

// large screens (reached max widths)
@media (min-width: 834px) {
	body {
		.output {
			.guess-word {
				.letter {
					font-size: 32px;
					margin: 3px;
				}
			}
		}
		.input-keyboard-wrapper {
			.keyboard {
				.keyboard-latin,
				.keyboard-polish {
					.key,
					.backspace-btn {
						font-size: 20px;
						margin: 5px;
					}
				}
			}
		}
	}
}
